{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "hassan@packntrack.it",
      "Space": "dev"
    },
    "Name": "watson-cal-assist-live",
    "Instrumentation": {
      "host": "watson-cal-assist-live",
      "services": [
        "GoogleCalSSO"
      ]
    }
  },
  "Path": "manifest.yml",
  "Type": "Cloud Foundry"
}